@import url('https://fonts.googleapis.com/css2?family=Asap:wght@400;600;700&display=swap');
@import 'leaflet/dist/leaflet.css';
@import "tailwindcss";

*, *::before, *::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
}
